# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app


*.pdb
*.ilk
*.log
*.lastbuildstate
*.tlog
*.ipch
*.user
*.filters
*.sln
*.suo
*.*db*
*.recipe
*.idb
*.lock
*.vsidx
*.vcxproj
*.txt